.mainFxmlClass {

}

.nfo {
    fx-text-fill: black;
}

.label.hover {
    -fx-text-fill: blue;
    -fx-font-weight: bold;
}
 
.hbox {    
    -fx-pref-height: 33;
    -fx-spacing: 10;
    -fx-border-color: rgb(150, 150, 150);
    -fx-padding: 5 10 5 10;   
    -fx-vgrow: ALWAYS;
}
