.mainFxmlClass {

}

.checkbox {
    -fx-text-fill: white;
}


.nfo {
    fx-text-fill: black;
}

.label.hover {
    -fx-text-fill: rgb(70, 70, 90);
    -fx-font-weight: bold;
}
 
.hbox {    
    -fx-pref-height: 33;
    -fx-spacing: 10;
    -fx-border-color: rgb(70, 70, 90);
    -fx-padding: 5 10 5 10;   
    -fx-vgrow: ALWAYS;
}

#vbox {
    -fx-border-color: rgb(36, 35, 70);
    -fx-pref-height: 33;
    -fx-alignment: center;
}

.vbox{
    -fx-border-color: rgb(70, 70, 90);
    -fx-border-width: 1;
    -fx-border-style: hidden solid hidden solid;    
}
#build{
    -fx-border-color: rgb(70, 70, 90);
    -fx-border-width: 1;
    -fx-border-style: solid hidden hidden hidden;  
}
#CLAUSES{
    -fx-border-color: rgb(70, 70, 90);
    -fx-border-width: 1;
    -fx-border-style: solid hidden hidden hidden;  
}

.check-box {
    opacity: 0;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.check-box.fade-in {
    animation: fadeIn 2s ease-in-out;
}

.button {
    -fx-padding: 5;
    -fx-background-insets: 1.5;
    -fx-background-color:  rgb(90, 90, 105);
    -fx-background-radius: 3;
    -fx-text-fill: rgb(250, 250, 250);
    -fx-border-color:  rgb(70, 70, 90);
    -fx-border-radius: 3;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.3) , 10, 0.2 , 2 , 2 );
}
.button:hover {
    -fx-background-color:  rgb(120, 120, 135);
}
.button:pressed {
    -fx-background-color:  rgb(80, 80, 95);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.3) , 2, 0.2 , 1 , 1 );
}
.combo-box {    
    -fx-text-fill: white;
    -fx-pref-height: 20;
    -fx-background-color: rgb(90, 90, 105);
    -fx-background-insets: 1.5;
    -fx-background-radius: 3;
    -fx-text-fill: rgb(250, 250, 250);
    -fx-border-color: rgb(70, 70, 90);
    -fx-border-radius: 3;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.3) , 5, 0.2 , 2 , 2 );
}

.combo-box-base .text{
    -fx-fill: rgb(250, 250, 250);
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: rgb(120, 120, 135);
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-background-color:rgb(90, 90, 105);
}
.combo-box .list-cell {
    -fx-background-color: rgb(90, 90, 105);
}
.combo-box:hover{
    -fx-background-color:  rgb(120, 120, 135);
}

.text-field {
    -fx-prompt-text-fill: rgba(0, 0, 30, 0.8); 
}

.table-view {
    -fx-background-color: rgb(90, 90, 105);
}
.table-view .column-header { /* az elválasztó vonalból fullos háttér lett */
    -fx-background-color: transparent;
    
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 20, 0.2 , 2 , 5 );
}
.table-view .column-header-background .filler{
    -fx-background-color: rgb(90, 90, 105);
    
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{/* header és cellákat elválasztó vonal */
    -fx-background-color: linear-gradient(to bottom, rgb(70, 70, 90), rgb(120, 120, 135));
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .table-cell{ 
    -fx-border-color: transparent;/* függőleges keret */
    -fx-padding: 2 0 2 10px;
}
.table-row-cell{
    -fx-text-fill: white; /* ez nem csinál semmit, de a table-cell meg felülírja a table-row-cell-hovert*/
}
.table-cell{
    -fx-text-fill: white;
}
.table-row-cell:hover { 
    -fx-background-color: green; /* ezt én nem látom .. */
    -fx-text-background-color: rgb(170, 170, 185)/* cell szöveg hover */
}
.table-row-cell:odd{ /* páratlan sorok */
    -fx-background-color: rgb(120, 120, 135);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{ /* páros sorok, ezeket csak együtt lehet változtatni*/
    -fx-background-color: rgb(90, 90, 105);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{ /* görgő sáv "gomb" háttér szín átmenet */
    -fx-background-color:  linear-gradient(to bottom, rgb(50, 50, 75), rgb(190, 190, 205));
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right,  rgb(10, 10, 25), rgb(190, 190, 205));
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}